@page "/add"

@using BlazNotes.Services.Interfaces;

@inject INoteService noteService

<h1>Add note</h1>
<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text"
                       name="title"
                       class="form-control"
                       bind="@title"
                       onfocusin=@ClearMessageAsync
                       placeholder="Input title here" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description"
                          class="form-control"
                          bind="@description"
                          onfocusin=@ClearMessageAsync
                          placeholder="Input description here"/>
            </div>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="button"
                    class="btn btn-success"
                    onclick=@AddNoteAsync>
                Add
            </button>
        </form>
        <span class="was-validated">@message</span>
    </div>
</div>

@functions
{
    string title;
    string description;
    string message;

    async Task AddNoteAsync()
    {
        try
        {
            await noteService.CreateAsync(title, description);
            message = "";
        }
        catch (Exception)
        {

            message = "Something went wrong. Try again!";
        }
        finally
        {
            title = "";
            description = "";
        }
    }

    async Task ClearMessageAsync()
    {
        await Task.FromResult(message = "");
    }
}