@page "/all"



@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper
@inject INoteService noteService

<h1>All notes</h1>

@if (notes == null || notes.Count == 0)
{
    <u>There aren't any notes in memory.</u>
}
else
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @foreach (var note in notes)
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.Description</td>
                <td>
                    <button class="btn btn-primary"
                            onclick=@(() => UriHelper.NavigateTo($"edit/{note.Id}"))>
                        Edit
                    </button>
                    <button class="btn btn-danger"
                            onclick=@(() => DeleteAsync(note.Id))>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </table>
}

@functions
{
    List<Note> notes = new List<Note>();

    protected override async Task OnInitAsync()
    {
        notes = await noteService.ReadAsync();
    }

    async Task DeleteAsync(int id)
    {
        await noteService.DeleteAsync(id);
        notes = await noteService.ReadAsync();
        base.StateHasChanged();
    }
}
