@page "/all"
@inherits AllNotesComponent

<link href="css/allNotes.css" rel="stylesheet" />

<h1>All notes</h1>

@if (notes == null || notes.Count == 0)
{
    <u>There aren't any notes in memory.</u>
}
else
{
    @foreach (var note in notes)
    {
        <div class="card card-@Theme">
            <h5 class="card-header">@note.Title</h5>
            <div class="card-body">
                <p class="card-text">@note.Description</p>
                <button class="btn btn-primary btn-primary-@Theme"
                        onclick=@(() => UriHelper.NavigateTo($"edit/{note.Id}"))>
                    Edit
                </button>
                <button class="btn btn-danger btn-danger-@Theme"
                        onclick=@(() => DeleteAsync(note.Id))>
                    Delete
                </button>
            </div>
        </div>
    }
}