@page "/error"

<link href="css/error.css" rel="stylesheet" />

<div class="card card-@Theme mx-auto" id="errorCard">
    <img srcset="svg/Pikachu.svg" class="align-content-center" style="max-height: 50%; max-width: 100%;"/>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Pika pika</p>
            <footer class="blockquote-footer"><i>Pikatchu</i></footer>
        </blockquote>
    </div>
</div>

@functions
{
    [CascadingParameter(Name = "Theme")] string Theme { get; set; }
}