@page "/settings"

@inject AppState appState

<h1>Settings</h1>
<div class="card card-@Theme">
    <div class="card-body">
        <p style= "color: blue;"><b>A little preview of the future...</b></p>
        <button class="btn btn-primary" onclick="@ChangeClass">Change</button>
    </div>
</div>
<p>@Theme</p>

@functions
{
    [CascadingParameter(Name = "Theme")] string Theme { get; set; }

    bool isLight;

    protected override void OnInit()
    {
        isLight = Theme.Equals("light");
    }

    async Task ChangeClass()
    {
        isLight = !isLight;

        if (isLight == true)
        {
            await appState.SetThemeAsync("light");
        }
        else
        {
            await appState.SetThemeAsync("dark");
        }
    }
}