@page "/settings"

<h1>Settings</h1>
<div class="card text-@cssClass bg-@cssClass">
    <div class="card-body">
        <p style= "color: blue;"><b>A little preview of the future...</b></p>
        <button class="btn btn-primary" onclick="@ChangeClass">Change</button>
    </div>
</div>

@functions
{
    private string cssClass = "light";
    private bool isLight = true;

    void ChangeClass()
    {
        isLight = !isLight;

        if (isLight == true)
        {
            cssClass = "light";
        }
        else
        {
            cssClass = "dark";
        }

        base.StateHasChanged();
    }
}