@page "/settings"
@inherits SettingsComponent

<h1>Settings</h1>
<div class="card card-@Theme">
    <div class="card-body">
        <b>Theme: </b>
        <button class="btn btn-primary btn-primary-@Theme" onclick="@ChangeClass">@Theme.UppercaseFirst()</button>
    </div>
</div>