@page "/settings"

@inject AppState appState

<h1>Settings</h1>
<div class="card card-@theme">
    <div class="card-body">
        <p style= "color: blue;"><b>A little preview of the future...</b></p>
        <button class="btn btn-primary" onclick="@ChangeClass">Change</button>
    </div>
</div>
<p>@theme</p>

@functions
{
    bool isLight;
    string theme;

    protected override async Task OnInitAsync()
    {
        theme = await appState.GetThemeAsync();
        isLight = theme.Equals("light");
    }

    async Task ChangeClass()
    {
        isLight = !isLight;

        if (isLight == true)
        {
            theme = "light";
        }
        else
        {
            theme = "dark";
        }

        await appState.SetThemeAsync(theme);
    }
}