/*
* === CONTAINER ===
*/

.scrollContainer-dark {
    background-color: #393939;
}

/*
* === SIDEBAR ===
*/
.sidebar-dark {
    background-image: linear-gradient(235deg, rgb(3, 71, 103) 0%, #060b47 70%);
}

    .sidebar-dark .top-row {
        background-color: rgba(0,0,0,0.45);
    }

    .nav-item-dark a {
        color: #cccccc;
    }

    .nav-item-dark a.active {
        background-color: rgba(160, 160, 160, 0.15);
        color: #cccccc;
    }

    .nav-item-dark a:hover {
        background-color: rgba(160, 160, 160, 0.1);
        color: #cccccc;
    }

/*
* === CARD ===
*/
.card-dark {
    background-color: #4d5052;
}