/*
* === CONTAINER ===
*/

.scrollContainer-dark {
    color: #afc4d0;
    background-color: #393939;
}

.main .top-row-dark {
    background-color: #303030;
    border-bottom: 1px solid #303030;
}

.validation-message-dark {
    color: #ffb400 !important;
}

/*
* === SIDEBAR ===
*/
.sidebar-dark {
    background-image: linear-gradient(235deg, rgb(3, 71, 103) 0%, #060b47 70%);
}

    .sidebar-dark .top-row {
        background-color: rgba(0,0,0,0.45);
    }

    .nav-item-dark a {
        color: #cccccc;
    }

    .nav-item-dark a.active {
        background-color: rgba(160, 160, 160, 0.15);
        color: #cccccc;
    }

    .nav-item-dark a:hover {
        background-color: rgba(160, 160, 160, 0.1);
        color: #cccccc;
    }

/*
* === CARD ===
*/
.card-dark {
    background-color: #4d5052;
    border: 1px solid rgba(144, 144, 144, 0.31)
}

/*
* === BUTTONS ===
*/

/*
* --- Primary Button ---
*/
.btn-primary-dark {
    background-color: #004186;
    border-color: #004186;
}
    .btn-primary-dark:active {
        background-color: #003c7c;
        border-color: #003c7c;
    }

    .btn-primary-dark:focus {
        background-color: #003c7c;
        border-color: #003c7c;
        box-shadow: 0 0 0 .2rem rgba(11, 66, 126, .5);
    }

    .btn-primary-dark:hover {
        background-color: #0f345c;
        border-color: #0f345c;
    }

/*
* --- Danger Button ---
*/
.btn-danger-dark {
    background-color: #860000;
    border-color: #860000;
}

    .btn-danger-dark:active {
        background-color: #7c0000;
        border-color: #7c0000;
    }

    .btn-danger-dark:focus {
        background-color: #7c0000;
        border-color: #7c0000;
        box-shadow: 0 0 0 .2rem rgba(126, 11, 11, 0.50);
    }

    .btn-danger-dark:hover {
        background-color: #5c0f0f;
        border-color: #5c0f0f;
    }

/*
* --- Secondary Button ---
*/
.btn-secondary-dark {
    background-color: #423d3d;
    border-color: #423d3d;
}

    .btn-secondary-dark:active {
        background-color: #3b3737;
        border-color: #3b3737;
    }

    .btn-secondary-dark:focus {
        background-color: #3b3737;
        border-color: #3b3737;
        box-shadow: 0 0 0 .2rem rgba(40, 40, 40, 0.50);
    }

    .btn-secondary-dark:hover {
        background-color: #2c2828;
        border-color: #2c2828;
    }

/*
* --- Success Button ---
*/
.btn-success-dark {
    background-color: #018600;
    border-color: #018600;
}

    .btn-success-dark:active {
        background-color: #3a7c00;
        border-color: #3a7c00;
    }

    .btn-success-dark:focus {
        background-color: #3a7c00;
        border-color: #3a7c00;
        box-shadow: 0 0 0 .2rem rgba(37, 126, 11, 0.50);
    }

    .btn-success-dark:hover {
        background-color: #2e5c0f;
        border-color: #2e5c0f;
    }