/*
* === CONTAINER ===
*/

.scrollContainer-dark {
    color: #afc4d0;
    background-color: #393939;
}

/*
* === SIDEBAR ===
*/
.sidebar-dark {
    background-image: linear-gradient(235deg, rgb(3, 71, 103) 0%, #060b47 70%);
}

    .sidebar-dark .top-row {
        background-color: rgba(0,0,0,0.45);
    }

    .nav-item-dark a {
        color: #cccccc;
    }

    .nav-item-dark a.active {
        background-color: rgba(160, 160, 160, 0.15);
        color: #cccccc;
    }

    .nav-item-dark a:hover {
        background-color: rgba(160, 160, 160, 0.1);
        color: #cccccc;
    }

/*
* === CARD ===
*/
.card-dark {
    background-color: #4d5052;
    border: 1px solid rgba(144, 144, 144, 0.31)
}

/*
* === BUTTONS ===
*/

.btn-primary-dark {
    background-color: #004186;
    border-color: #004186;
}
    .btn-primary-dark:active {
        background-color: #003c7c;
        border-color: #003c7c;
    }

    .btn-primary-dark:focus {
        background-color: #003c7c;
        border-color: #003c7c;
        box-shadow: 0 0 0 .2rem rgba(11, 66, 126, .5);
    }

    .btn-primary-dark:hover {
        background-color: #0f345c;
        border-color: #0f345c;
    }