@inherits LayoutComponentBase
@implements INotifyPropertyChanged

@inject IThemeService themeService

<Blazored.Toast.BlazoredToasts />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main scrollContainer">
    <div class="top-row px-4" id="topBar">
        
    </div>

    <CascadingValue Value="@Theme" Name="Theme">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>


@functions
{ 
    public event PropertyChangedEventHandler PropertyChanged;

    public string _theme;

    public string Theme
    {
        get { return _theme; }
        set
        {
            if (value == _theme)
            {
                return;
            }

            _theme = value;
            themeService.UpdateAsync(_theme);
            PropertyChanged?.Invoke(this, new PropertyChangedEventArgs(nameof(Theme)));
            
            base.StateHasChanged();
        }
    }

    protected override async Task OnInitAsync()
    {
        Theme = await themeService.ReadAsync();
    }
}